<%- include('../partials/header'); %>
  <div class="projects container container--padded-top">
    <%- include('../partials/nav'); %>
    <h1><%= title %>.</h1>
    <ul class="projects__list">
      <% projects.forEach(function(project){ %>
        <li class="projects__item">
          <a class="projects__link" href="/projects/<%= project.id %>"><%= project.title %></a>
        </li>
      <% }); %>
    </ul>
  </div>
<%- include('../partials/footer'); %>