<%- include('../partials/header'); %>
  <div class="project container">
    <%- include('../partials/nav'); %>
    <h1 class="projects__title"><%= title %>.</h1>
    <h2 class="projects__subtitle"><%= project.title %></h2>
    <% if (project.images) { %>
      <div class="project__images">
        <% project.images.forEach(function(image) { %>
          <img src="/public/imgs/projects/<%= image.url %>" alt="<%= image.description %>">
        <% }) %>
      </div>
    <% } %>
    <div class="project__content">
      <nav class="project__navigation">
        <a href="<%= project.demo_link %>" target="_blank" class="project__link">See live project</a>
        <a href="<%= project.github_link %>" target="_blank" class="project__link">View code on Github</a>
      </nav>

      <%- project.description %>
    </div>
    <aside class="project__aside">
      <h3>My role</h3>
      <ul>
        <% project.roles.forEach(function(role) { %>
          <li><%= role %></li>
        <% }); %>
      </ul>
      <h3>Tools I used</h3>
      <ul>
        <% project.tools.forEach(function(tool) { %>
          <li><%= tool %></li>
        <% }); %>
      </ul>
      <% if (project.next) { %>
      <a href="/projects/<%= project.next %>" class="button project__next">Next Project</a>
      <% } %>
    </aside>

  </div>
<%- include('../partials/footer'); %>